* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #67ffd6;
}

.container {
    width: 700px;
    height: 700px;
    margin: 7rem auto;
    background-color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(700px / 10);
    height: calc(700px / 10);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-aqua {
    background-color: aqua;
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
}